@page "/home"
@using System.Security.Claims
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
<PageTitle>CApp</PageTitle>

<h1>Merhaba, çekirdek almayı unutmayınız...</h1>

<AuthorizeView>
    <div class="card-header">
        Hoşgeldin
        [@context.User.Claims.Where(f => f.Type == ClaimTypes.Name).Last().Value],
        Artık sohbete katılabilirsiniz...
    </div>
</AuthorizeView>
